<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/bootstrap.min.css" %}">
    <link rel="stylesheep" type="text/css" href="{% static "static_html/css/bootstrap-rtl.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin-rtl.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/morris.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/print.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/ges.css" %}">

    <script src="{% static "clients/js/jquery.js"%}"></script>
    <!-- <script src="{% static "clients/js/jquery.cookie.js"%}"></script> -->
    <script src="{% static "clients/js/angular.js"%}"></script>
    <script src="{% static "clients/js/bootstrap.min.js"%}"></script>
    <script src="{% static "clients/js/ui-bootstrap.js"%}"></script>
    <script>
        var app_1 = angular.module("app_boiler_stacked_economizer", ['ui.bootstrap']);
        app_1.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);
        app_1.controller("boilerStackedEconomizerListController", ['$scope','$http', function($scope,$http){
            $http({method: 'GET', url: "/api_boiler_stacked_economizer/boiler_stacked_economizer/"}).
                 success(function(data){
                     $scope.boiler_stacked_economizer_list = data;
            }).error(function(data){});
            $scope.clients_filter = "all";
            $scope.filter_clients = function (clients_filter){
                var url_str = "/api_boiler_stacked_economizer/boiler_stacked_economizer/";
                var client_filter_str = "";
                if ($scope.clients_filter != "all"){
                    client_filter_str = "?client=".concat($scope.clients_filter);
                };
                $http({method: 'GET', url: url_str.concat(client_filter_str)}).
                     success(function(data){
                         $scope.boiler_stacked_economizer_list = data;
                }).error(function(data){});
            };
        }]);
        app_1.controller("boilerStackedEconomizerAddController", ['$scope',
                                                    '$http',
                                                    function($scope, $http){
            $scope.boiler_stacked_economizer_json = {'client': '',
                                            'name': '',
                                            'boiler_size_hr': 0,
                                            'initial_stack_gas_temp_f': 0,
                                            'avg_fire_rate': 0,
                                            'hours_of_operation': 0};
            $scope.submit_details = function(){
                $scope.boiler_stacked_economizer_json.client = '/api_client/clients/'+$("#client").val()+'/';
                $scope.boiler_stacked_economizer_json.name = $("#name").val();
                $scope.boiler_stacked_economizer_json.boiler_size_hr = $("#boiler_size_hr").val();
                $scope.boiler_stacked_economizer_json.initial_stack_gas_temp_f = $("#initial_stack_gas_temp_f").val();
                $scope.boiler_stacked_economizer_json.avg_fire_rate = $("#avg_fire_rate").val();
                $scope.boiler_stacked_economizer_json.hours_of_operation = $("#hours_of_operation").val();

                $http({method: 'POST',
                       url: '/api_boiler_stacked_economizer/boiler_stacked_economizer/',
                       data: $scope.boiler_stacked_economizer_json}).
                success(function(data){
                    window.location.reload();
                }).
                error(function(data){
                });
                $('#add_new_boiler_stacked_economizer').modal('hide');
            }
        }]);
    </script>
</head>
<body ng-app="app_boiler_stacked_economizer">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            {% include "static_html/urls.html" %}
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                         Boiler Stacked Economizer List
                    </h1>
                    <div ng-controller="boilerStackedEconomizerListController">
                        <div class="container-fluid form-horizontal">
                            <div class="form-group form-group-sm">
                                <label class="col-sm-2 control-label">Client Filter</label>
                                <div class="col-sm-2">
                                    <select class="form-control col-sm-3" ng-model="clients_filter" id="clients_filter" name="clients_filter" ng-change="filter_clients(clients_filter)">
                                        {% for filter_id, filter_name in clients_filter %}
                                            <option value="{{ filter_id }}">{{ filter_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                 <div class="col-sm-6">
                                    <button type="button" class="btn btn-success btn-sm col-sm-6" data-toggle="modal" data-target="#add_new_boiler_stacked_economizer">+ Boiler Stacked Economizer</button>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <tr>
                                    <th>Name</th>
                                    <th>Boiler Size (HP)</th>
                                    <th>Boiler size, MMBtu/hr</th>
                                    <th>Initial Stack Gas Temp (F)</th>
                                    <th>Average Fire Rate</th>
                                    <th>Recoverable Heat, MMBtu/hr</th>
                                    <th>Hours of Operation</th>
                                    <th>Recoverable Heat, Therms/yr</th>
                                    <th>Savings</th>
                                </tr>
                                {% verbatim %}
                                    <tr ng-repeat="x in boiler_stacked_economizer_list">
                                        <td><a href="/boiler_stacked_economizer_details/{{ x.id }}">{{ x.name }}</a></td>
                                        <td>{{ x.boiler_size_hr | currency:"":0 }}</td>
                                        <td>{{ x.get_boiler_size_mmbtu_per_hr | currency:"":2}}</td>
                                        <td>{{ x.initial_stack_gas_temp_f | currency:"":0}}</td>
                                        <td>{{ x.avg_fire_rate | currency:"":0}}</td>
                                        <td>{{ x.get_recoverable_heat_mmbtu_per_hr | currency:"":2 }}</td>
                                        <td>{{ x.hours_of_operation | currency:"":0 }}</td>
                                        <td>{{ x.get_recoverable_heat_therms_per_yr | currency:"":0 }}</td>
                                        <td>{{ x.get_savings| currency:"$":0 }}</td>
                                    </tr>
                                {% endverbatim %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_new_boiler_stacked_economizer" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Boiler Stacked Economizer</h4>
                </div>
                <form class="form-horizontal" ng-controller="boilerStackedEconomizerAddController" role="form">
                {% csrf_token %}
                    <div class="container-fluid">
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Client</label>
                          <div class="col-sm-6">
                              <select class="form-control col-sm-6" id="client" name="client">
                                {% for client_id, client_name in clients_list %}
                                    <option {% if client_id == 1 %} selected {% endif %} value="{{ client_id }}">{{ client_name }}</option>
                                {% endfor %}
                              </select>
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Boiler Stacked Economizer Name</label>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="name" name="name">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Boiler Size (HP)</label>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="boiler_size_hr" name="boiler_size_hr">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Initial Stack Gas Temp (F)</label>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="initial_stack_gas_temp_f" name="initial_stack_gas_temp_f">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Average Fire Rate</label>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="avg_fire_rate" name="avg_fire_rate">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Hours of Operation</label>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="hours_of_operation" name="hours_of_operation">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-sm-6 col-sm-offset-4">
                                <input type="button" value="Save" class="btn btn-default" ng-click="submit_details()">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
