<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/bootstrap.min.css" %}">
    <link rel="stylesheep" type="text/css" href="{% static "static_html/css/bootstrap-rtl.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin-rtl.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/morris.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/print.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/ges.css" %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/font-awesome.min.css" %}"> -->

    <script src="{% static "clients/js/jquery.js"%}"></script>
    <!-- <script src="{% static "clients/js/jquery.cookie.js"%}"></script> -->
    <script src="{% static "clients/js/angular.js"%}"></script>
    <script src="{% static "clients/js/bootstrap.min.js"%}"></script>
    <script src="{% static "clients/js/ui-bootstrap.js"%}"></script>
    <script>
        var app_1 = angular.module("app_boiler_blowdown", ['ui.bootstrap']);
        app_1.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);
        app_1.controller("boilerBlowdownListController", ['$scope','$http', function($scope,$http){
            $http({method: 'GET', url: "/api_boiler_blowdown/boiler_blowdown/"}).
                 success(function(data){
                     $scope.boiler_blowdown_list = data;
            }).error(function(data){});
            $scope.clients_filter = "all";
            $scope.filter_clients = function (clients_filter){
                var url_str = "/api_boiler_blowdown/boiler_blowdown/";
                var client_filter_str = "";
                if ($scope.clients_filter != "all"){
                    client_filter_str = "?client=".concat($scope.clients_filter);
                };
                $http({method: 'GET', url: url_str.concat(client_filter_str)}).
                     success(function(data){
                         $scope.boiler_blowdown_list = data;
                }).error(function(data){});
            };
            $scope.download_boiler_blowdown = function(){
                window.location.href = '/excel/boiler_blowdown/'.concat($scope.clients_filter);
            }
        }]);
        app_1.controller("boilerBlowdownAddController", ['$scope',
                                                    '$http',
                                                    function($scope, $http){
            $scope.boiler_blowdown_json = {'client': '',
                                      'boiler_blowdown_name':'',
                                      'makeup_water_temperature':0,
                                      'existing_blowdown_frequency_per_day':0,
                                      'existing_blowdown_rate_gpm':0,
                                      'existing_blowdown_duration_mins':0,
                                      'existing_days_of_operation':0,
                                      'existing_discharge_temp_in_f':0,
                                      'proposed_blowdown_frequency_per_day':0,
                                      'proposed_blowdown_rate_gpm':0,
                                      'proposed_blowdown_duration_mins':0,
                                      'proposed_days_of_operation':0,
                                      'proposed_discharge_temp_in_f':0,
                                      'existing_heat_recovery_efficiency_perc':0,
                                      'proposed_heat_recovery_efficiency_perc':0};
            $scope.submit_details = function(){
                $scope.boiler_blowdown_json.client = '/api_client/clients/'+$("#client").val()+'/';
                $scope.boiler_blowdown_json.boiler_blowdown_name = $("#boiler_blowdown_name").val();
                $scope.boiler_blowdown_json.makeup_water_temperature = $("#makeup_water_temperature").val();
                $scope.boiler_blowdown_json.existing_blowdown_frequency_per_day = $("#existing_blowdown_frequency_per_day").val();
                $scope.boiler_blowdown_json.existing_blowdown_rate_gpm = $("#existing_blowdown_rate_gpm").val();
                $scope.boiler_blowdown_json.existing_blowdown_duration_mins = $("#existing_blowdown_duration_mins").val();
                $scope.boiler_blowdown_json.existing_days_of_operation = $("#existing_days_of_operation").val();
                $scope.boiler_blowdown_json.existing_discharge_temp_in_f = $("#existing_discharge_temp_in_f").val();
                $scope.boiler_blowdown_json.proposed_blowdown_frequency_per_day = $("#proposed_blowdown_frequency_per_day").val();
                $scope.boiler_blowdown_json.proposed_blowdown_rate_gpm = $("#proposed_blowdown_rate_gpm").val();
                $scope.boiler_blowdown_json.proposed_blowdown_duration_mins = $("#proposed_blowdown_duration_mins").val();
                $scope.boiler_blowdown_json.proposed_days_of_operation = $("#proposed_days_of_operation").val();
                $scope.boiler_blowdown_json.proposed_discharge_temp_in_f = $("#proposed_discharge_temp_in_f").val();
                $scope.boiler_blowdown_json.existing_heat_recovery_efficiency_perc = $("#existing_heat_recovery_efficiency_perc").val();
                $scope.boiler_blowdown_json.proposed_heat_recovery_efficiency_perc = $("#proposed_heat_recovery_efficiency_perc").val();
                $http({method: 'POST',
                       url: '/api_boiler_blowdown/boiler_blowdown/',
                       data: $scope.boiler_blowdown_json}).
                success(function(data){
                    window.location.reload();
                }).
                error(function(data){
                });
                $('#add_new_boiler_blowdown').modal('hide');
            }
        }]);
    </script>
</head>
<body ng-app="app_boiler_blowdown">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            {% include "static_html/urls.html" %}
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                         Boiler Blowdown List
                    </h1>
                    <div ng-controller="boilerBlowdownListController">
                        <div class="container-fluid form-horizontal">
                            <div class="form-group form-group-sm">
                                <label class="col-sm-2 control-label">Client Filter</label>
                                <div class="col-sm-2">
                                    <select class="form-control col-sm-3" ng-model="clients_filter" id="clients_filter" name="clients_filter" ng-change="filter_clients(clients_filter)">
                                        {% for filter_id, filter_name in clients_filter %}
                                            <option value="{{ filter_id }}">{{ filter_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-5">
                                    <input type="button" class="btn btn-success btn-sm col-sm-6" value="Download Boiler Blowdown" ng-click="download_boiler_blowdown()">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                 <div class="col-sm-6">
                                    <button type="button" class="btn btn-success btn-sm col-sm-4" data-toggle="modal" data-target="#add_new_boiler_blowdown">+ Boiler Blowdown</button>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <tr>
                                    <th>Boiler Blowdown</th>
                                    <!-- <th>Client</th> -->
                                    <th>Makeup Water Temperature</th>
                                </tr>
                                {% verbatim %}
                                    <tr ng-repeat="x in boiler_blowdown_list">
                                        <td><a href="/boiler_blowdown_details/{{ x.id }}">{{ x.boiler_blowdown_name }}</a></td>
                                        <!-- <td>{{ x.client }}</td> -->
                                        <td>{{ x.makeup_water_temperature }}</td>
                                    </tr>
                                {% endverbatim %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_new_boiler_blowdown" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Boiler Blowdown</h4>
                </div>
                <form class="form-horizontal" ng-controller="boilerBlowdownAddController" role="form">
                {% csrf_token %}
                    <div class="container-fluid">
                        <div class="form-group form-group-sm">
                          <label class="col-sm-4 control-label">Client</label>
                          <div class="col-sm-4">
                              <select class="form-control col-sm-6" id="client" name="client">
                                {% for client_id, client_name in clients_list %}
                                    <option {% if client_id == 1 %} selected {% endif %} value="{{ client_id }}">{{ client_name }}</option>
                                {% endfor %}
                              </select>
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-4 control-label">Boiler Blowdown Reduction and Recovery</label>
                          <div class="col-sm-4">
                            <input class="form-control" type="text" id="boiler_blowdown_name" name="boiler_blowdown_name">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-4 control-label">Makeup Water Temperature</label>
                          <div class="col-sm-4">
                            <input class="form-control control-label" type="text" id="makeup_water_temperature" name="makeup_water_temperature">
                          </div>
                        </div>
                        <div class="form-group form-group-md bg-info">
                            <label class="col-md-offset-4 col-md-8 ">Reduce Blowdown Flowrate</label>
                        </div>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-offset-4 col-sm-3">
                                Existing Blowdown
                            </label>
                            <label class="col-sm-3">
                                Proposed Blowdown
                            </label>
                        </div>

                        <div class="form-group form-group-sm">
                          <label class="col-sm-4 control-label">Blowdown Frequency (Per Day)</label>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="existing_blowdown_frequency_per_day" name="existing_blowdown_frequency_per_day" value="0">
                          </div>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="proposed_blowdown_frequency_per_day" name="proposed_blowdown_frequency_per_day" value="0">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-4 control-label">Blowdown Rate (GPM)</label>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="existing_blowdown_rate_gpm" name="existing_blowdown_rate_gpm" value="0">
                          </div>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="proposed_blowdown_rate_gpm" name="proposed_blowdown_rate_gpm" value="0">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-4 control-label">Blowdown Duration (minutes)</label>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="existing_blowdown_duration_mins" name="existing_blowdown_duration_mins" value="0">
                          </div>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="proposed_blowdown_duration_mins" name="proposed_blowdown_duration_mins" value="0">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-4 control-label">Days of Operation</label>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="existing_days_of_operation" name="existing_days_of_operation" value="0">
                          </div>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="proposed_days_of_operation" name="proposed_days_of_operation" value="0">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-4 control-label">Discharge Temp (F)</label>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="existing_discharge_temp_in_f" name="existing_discharge_temp_in_f" value="0">
                          </div>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="proposed_discharge_temp_in_f" name="proposed_discharge_temp_in_f" value="0">
                          </div>
                        </div>
                        <div class="form-group form-group-md bg-info">
                            <label class="col-md-offset-4 col-md-8">
                                Provide Blowdown Heat Recovery
                            </label>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-4 control-label">Heat Recovery Efficiency</label>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="existing_heat_recovery_efficiency_perc" name="existing_heat_recovery_efficiency_perc" value="0">
                          </div>
                          <div class="col-sm-3">
                            <input class="form-control control-label" type="text" id="proposed_heat_recovery_efficiency_perc" name="proposed_heat_recovery_efficiency_perc" value="0">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-sm-4">
                                <input type="button" value="Save" class="btn btn-default" ng-click="submit_details()">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
