<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/bootstrap.min.css" %}">
    <link rel="stylesheep" type="text/css" href="{% static "static_html/css/bootstrap-rtl.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin-rtl.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/morris.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/ges.css" %}">
    <script src="{% static "clients/js/jquery.js"%}"></script>
    <script src="{% static "clients/js/angular.js"%}"></script>
    <script src="{% static "clients/js/bootstrap.min.js"%}"></script>
    <script src="{% static "clients/js/ui-bootstrap.js"%}"></script>
    <script>
        var app_1 = angular.module("app_client", ['ui.bootstrap']);
        app_1.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);
        app_1.controller("clientModifyController", ['$scope','$http', function($scope,$http){
            $http({method: 'GET', url: "/state_details/{{country_id}}"}).
                 success(function(data){
                     $scope.states_list = data;
            }).error(function(data){});
            $scope.country = "{{country_id}}";
            $scope.state = "{{state}}"
            $scope.change_state = function(country){
                $http({method: 'GET', url: "/state_details/".concat($scope.country)}).
                     success(function(data){
                         $scope.states_list = data;
                         $scope.state = data[0].state_id;
                }).error(function(data){});
            };
            $scope.client_json = {'client_name':'',
                                  'account_name':'',
                                  'project_name':'',
                                  'address':'',
                                  'country':'',
                                  'city':'',
                                  'state': '',
                                  'electric_rate': 0,
                                  'gas_rate': 0,
                                  'water_rate': 0,
                                  'sewer_rate': 0};
            $scope.submit_details = function(){
                $scope.client_json.client_name = $("#client_name").val();
                $scope.client_json.account_name = $("#account_name").val();
                $scope.client_json.project_name = $("#project_name").val();
                $scope.client_json.address = $("#address").val();
                $scope.client_json.city = $("#city").val();
                $scope.client_json.state = $("#state").val();
                $scope.client_json.country = $("#country").val();
                $scope.client_json.electric_rate = $("#electric_rate").val();
                $scope.client_json.gas_rate = $("#gas_rate").val();
                $scope.client_json.water_rate = $("#water_rate").val();
                $scope.client_json.sewer_rate = $("#sewer_rate").val();
                $http({method: 'PUT',
                       url: '/api_client/clients/{{client_id}}/',
                       data: $scope.client_json}).
                success(function(data){
                    window.location.href = '/client/';
                }).
                error(function(data){
                });
            }

            $scope.submit_delete = function(){
                $http({method: 'DELETE',
                       url: '/api_client/clients/{{client_id}}/'}).
                success(function(data){
                    window.location.href = '/client/';
                }).
                error(function(data){
                });
            }
        }]);
    </script>
</head>
<body ng-app="app_client">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            {% include "static_html/urls.html" %}
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Client Details
                    </h1>
                    <form class="form-horizontal" ng-controller="clientModifyController" role="form">
                    {% csrf_token %}
                        <div class="container-fluid">
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Start Date</label>
                              <div class="col-sm-8">
                                <label class="col-sm-5 bg-success">{{ start_date }}</label>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Client Name</label>
                              <div class="col-sm-4">
                                <input class="form-control" type="text" id="client_name" name="client_name" value="{{ client_name }}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Account Name</label>
                              <div class="col-sm-4">
                                <input class="form-control" type="text" id="account_name" name="account_name" value="{{ account_name }}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Project Name</label>
                              <div class="col-sm-4">
                                <input class="form-control" type="text" id="project_name" name="project_name" value="{{ project_name }}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Country</label>
                              <div class="col-sm-6">
                                  <select class="form-control col-sm-4" id="country" name="country" ng-model="country" ng-change="change_state(country)">
                                    {% for country_id_key, name in countries_list %}
                                       <option {% if country_id_key == country_id %} selected {% endif %} value="{{ country_id_key }}">{{ name }}</option>
                                    {% endfor %}
                                  </select>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">State</label>
                              <div class="col-sm-6">
                                  {% verbatim %}
                                      <select class="form-control col-sm-6" ng-model="state" id="state" name="state">
                                              <option ng-repeat="x in states_list" value="{{x.state_id}}">{{x.state_name}}</option>
                                      </select>
                                  {% endverbatim %}
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">City</label>
                              <div class="col-sm-4">
                                <input class="form-control" type="text" id="city" name="city" value="{{ city }}">
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-4 control-label">Address</label>
                              <div class="col-sm-5">
                                  <textarea class="col-sm-4 form-control" rows="3" id="address" name="address">{{ address }}</textarea>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Electric Rate ($/kWh)</label>
                              <div class="col-sm-4">
                                <input class="form-control" type="text" id="electric_rate" name="electric_rate" value="{{electric_rate}}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Gas Rate ($/Therms)</label>
                              <div class="col-sm-4">
                                <input class="form-control" type="text" id="gas_rate" name="gas_rate" value="{{gas_rate}}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Water Rate ($/Gallons)</label>
                              <div class="col-sm-4">
                                <input class="form-control" type="text" id="water_rate" name="water_rate" value="{{water_rate}}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Sewer Rate ($/Gallons)</label>
                              <div class="col-sm-4">
                                <input class="form-control" type="text" id="sewer_rate" name="sewer_rate" value="{{sewer_rate}}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-6 control-label">
                                    <input type="button" value="Save" class="btn btn-default" ng-click="submit_details()">
                                    <input type="button" value="Delete" class="btn btn-default" ng-click="submit_delete()">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
