<!DOCTYPE html>
{% load staticfiles %}
<html ng-app="demoApp">
<head>
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/bootstrap.min.css" %}">
	<link rel="stylesheep" type="text/css" href="{% static "vfd_app/css/bootstrap-rtl.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/sb-admin.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/sb-admin-rtl.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/morris.css" %}">
	<!-- <link rel="stylesheet" type="text/css" href="{% static "vfd_app/css/font-awesome.min.css" %}"> -->

	<script src="{% static "clients/js/jquery.js"%}"></script>
	<script src="{% static "clients/js/angular.js"%}"></script>
	<script src="{% static "clients/js/bootstrap.min.js"%}"></script>
	<script src="{% static "clients/js/ui-bootstrap.js"%}"></script>
	<script>

		var demo = angular.module("demoApp", ['ui.bootstrap']);
		demo.controller("clientListController", ['$scope','$http', function($scope,$http){
			$http({method: 'GET', url: "/m_client/clients/?format=json"}).
				 success(function(data){
					 $scope.client_list = data;
					//  console.log($scope.client_list);
			}).error(function(data){});
		}]);

	</script>
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Home</a>
				<a class="navbar-brand" href="/m_client">Clients</a>
				<!-- <a class="navbar-brand" href="/vfd_app">VFD App</a>
				<a class="navbar-brand" href="/premium_efficiency_app">Premium Efficiency App</a>
				<a class="navbar-brand" href="/chiller_app">Chiller App</a> -->
			</div>
		</nav>
	</div>
	<div id="page-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div ng-controller="clientListController">
						<div class="container-fluid">
							<table class="table table-striped">
								<tr>
									<th>Client Name</th>
									<th>Country</th>
									<th>Customer Site</th>
									<th>Start Date</th>
								</tr>
								{% verbatim %}
									<tr ng-repeat="x in client_list">
										<td><a href="{{ x.url }}">{{ x.client_name }}</td>
										<td>{{ x.country }}</td>
										<td>{{ x.customer_site }}</td>
										<td>{{ x.start_date }}</td>
									</tr>
								{% endverbatim %}
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row" ng-controller="demoController">
	</div>
<div class="content" ng-controller="{% block ng_controller %}AppController{% endblock %}">{% block content %}
{% verbatim %}
	<div class="panel" ng-repeat="post in posts">
		<div class="panel-heading clearfix">
			<h3 class="panel-title">{{ post.title }}</h3>
			<author class="pull-right">{{ post.author.username }}</author>
		</div>
		<p class="well">{{ post.body }}</p>
	</div>
{% endverbatim %}
{% endblock %}</div> -->
<!-- <script src="{% static "underscore/underscore.js" %}"></script>
<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular-resource/angular-resource.js" %}"></script>
<script src="{% static "js/script.js" %}"></script> -->
</body>
</html>
