<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/bootstrap.min.css" %}">
    <link rel="stylesheep" type="text/css" href="{% static "static_html/css/bootstrap-rtl.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin-rtl.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/morris.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/print.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/ges.css" %}">

    <script src="{% static "clients/js/jquery.js"%}"></script>
    <!-- <script src="{% static "clients/js/jquery.cookie.js"%}"></script> -->
    <script src="{% static "clients/js/angular.js"%}"></script>
    <script src="{% static "clients/js/bootstrap.min.js"%}"></script>
    <script src="{% static "clients/js/ui-bootstrap.js"%}"></script>
    <script>
        var app_1 = angular.module("app_pipe_insulation", ['ui.bootstrap']);
        app_1.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);
        app_1.controller("pipeInsulationListController", ['$scope','$http', function($scope,$http){
            $http({method: 'GET', url: "/api_pipe_insulation/pipe_insulation/"}).
                 success(function(data){
                     $scope.pipe_insulation_list = data;
            }).error(function(data){});
            $scope.clients_filter = "all";
            $scope.filter_clients = function (clients_filter){
                var url_str = "/api_pipe_insulation/pipe_insulation/";
                var client_filter_str = "";
                if ($scope.clients_filter != "all"){
                    client_filter_str = "?client=".concat($scope.clients_filter);
                };
                $http({method: 'GET', url: url_str.concat(client_filter_str)}).
                     success(function(data){
                         $scope.pipe_insulation_list = data;
                }).error(function(data){});
            };
            $scope.download_pipe_insulation = function(){
                window.location.href = '/excel/pipe_insulation/'.concat($scope.clients_filter);
            }
        }]);
        app_1.controller("pipeInsulationAddController", ['$scope',
                                                    '$http',
                                                    function($scope, $http){
            $scope.pipe_insulation_json = {'client': '',
                                            'name': '',
                                            'length_of_pipe': '',
                                            'ambient_temp': 70.0,
                                            'base_metal': '',
                                            'insulation': '',
                                            'insulation_thickness': 0,
                                            'jacket_material': '',
                                            'location': '',
                                            'nps_pipe_size_inches': 0.5,
                                            'process_temp_or_pressure': 10,
                                            'system_efficiency': 80.0,
                                            'system_hours_per_year': 8760.0,
                                            'wind_speed_mph': 0.0,
                                            'working_fluid': ''};
            $scope.submit_details = function(){
                $scope.pipe_insulation_json.client = '/api_client/clients/'+$("#client").val()+'/';
                $scope.pipe_insulation_json.name = $("#name").val();
                $scope.pipe_insulation_json.length_of_pipe = $("#length_of_pipe").val();
                $scope.pipe_insulation_json.ambient_temp = $("#ambient_temp").val();
                $scope.pipe_insulation_json.base_metal = $("#base_metal").val();
                $scope.pipe_insulation_json.insulation = $("#insulation").val();
                $scope.pipe_insulation_json.insulation_thickness = $("#insulation_thickness").val();
                $scope.pipe_insulation_json.jacket_material = $("#jacket_material").val();
                $scope.pipe_insulation_json.location = $("#location").val();
                $scope.pipe_insulation_json.nps_pipe_size_inches = $("#nps_pipe_size_inches").val();
                $scope.pipe_insulation_json.process_temp_or_pressure = $("#process_temp_or_pressure").val();
                $scope.pipe_insulation_json.system_efficiency = $("#system_efficiency").val();
                $scope.pipe_insulation_json.system_hours_per_year = $("#system_hours_per_year").val();
                $scope.pipe_insulation_json.wind_speed_mph = $("#wind_speed_mph").val();
                $scope.pipe_insulation_json.working_fluid = $("#working_fluid").val();

                $http({method: 'POST',
                       url: '/api_pipe_insulation/pipe_insulation/',
                       data: $scope.pipe_insulation_json}).
                success(function(data){
                    window.location.reload();
                }).
                error(function(data){
                });
                $('#add_new_pipe_insulation').modal('hide');
            }
        }]);
    </script>
</head>
<body ng-app="app_pipe_insulation">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            {% include "static_html/urls.html" %}
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                         Pipe Insulation List
                    </h1>
                    <div ng-controller="pipeInsulationListController">
                        <div class="container-fluid form-horizontal">
                            <div class="form-group form-group-sm">
                                <label class="col-sm-2 control-label">Client Filter</label>
                                <div class="col-sm-2">
                                    <select class="form-control col-sm-3" ng-model="clients_filter" id="clients_filter" name="clients_filter" ng-change="filter_clients(clients_filter)">
                                        {% for filter_id, filter_name in clients_filter %}
                                            <option value="{{ filter_id }}">{{ filter_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-5">
                                    <input type="button" class="btn btn-success btn-sm col-sm-6" value="Download Pipe Insulation" ng-click="download_pipe_insulation()">
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                 <div class="col-sm-6">
                                    <button type="button" class="btn btn-success btn-sm col-sm-4" data-toggle="modal" data-target="#add_new_pipe_insulation">+ Pipe Insulation</button>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <tr>
                                    <th>Name</th>
                                    <th>Length of pipe (feet)</th>
                                    <th>NPS Pipe Size (inches)</th>
                                </tr>
                                {% verbatim %}
                                    <tr ng-repeat="x in pipe_insulation_list">
                                        <td><a href="/pipe_insulation_details/{{ x.id }}">{{ x.name }}</a></td>
                                        <td>{{ x.length_of_pipe}}</td>
                                        <td>{{ x.nps_pipe_size_inches}}</td>
                                    </tr>
                                {% endverbatim %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_new_pipe_insulation" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Pipe Insulation</h4>
                </div>
                <form class="form-horizontal" ng-controller="pipeInsulationAddController" role="form">
                {% csrf_token %}
                    <div class="container-fluid">
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Client</label>
                          <div class="col-sm-6">
                              <select class="form-control col-sm-6" id="client" name="client">
                                {% for client_id, client_name in clients_list %}
                                    <option {% if client_id == 1 %} selected {% endif %} value="{{ client_id }}">{{ client_name }}</option>
                                {% endfor %}
                              </select>
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Pipe Insulation Description</label>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="name" name="name">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Length of Pipe (feet)</label>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="length_of_pipe" name="length_of_pipe">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">NPS Pipe Size (inches)</label>
                          <div class="col-sm-6">
                              <select class="form-control col-sm-6" id="nps_pipe_size_inches" name="nps_pipe_size_inches">
                                {% for key, value in nps_pipe_size_options %}
                                    <option {% if key == 0.5 %} selected {% endif %} value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                              </select>
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Working Fluid</label>
                          <div class="col-sm-6">
                              <select class="form-control col-sm-6" id="working_fluid" name="working_fluid">
                                {% for key, value in working_fluid_options %}
                                    <option {% if key == 'Steam' %} selected {% endif %} value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                              </select>
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Process Temp or Pressure</label>
                          <div class="col-sm-9">
                            <input class="form-control" type="text" id="process_temp_or_pressure" name="process_temp_or_pressure">
                            <span class="help-block">(Integer Numbers only) Noel Chambers: Select the temperature of the working fluid if the fluid a liquid. If the working fluid is steam please select the working pressure of the system.</span>
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">System Efficiency (%)</label>
                          <div class="col-sm-3">
                            <input class="form-control" type="text" id="system_efficiency" name="system_efficiency" value="80">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Ambient Temp</label>
                          <div class="col-sm-3">
                            <input class="form-control" type="text" id="ambient_temp" name="ambient_temp" value="70">
                          </div>
                        </div>

                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">System Hours / Year</label>
                          <div class="col-sm-3">
                            <input class="form-control" type="text" id="system_hours_per_year" name="system_hours_per_year" value="8760">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Wind Speed (MPH)</label>
                          <div class="col-sm-3">
                            <input class="form-control" type="text" id="wind_speed_mph" name="wind_speed_mph" value="0">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Location</label>
                          <div class="col-sm-3">
                              <select class="form-control col-sm-6" id="location" name="location">
                                {% for key, value in location_options %}
                                    <option {% if key == 'Indoors' %} selected {% endif %} value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                              </select>

                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Base Metal</label>
                          <div class="col-sm-3">
                              <select class="form-control col-sm-6" id="base_metal" name="base_metal">
                                {% for key, value in base_metal_choices %}
                                    <option {% if key == 'Steel' %} selected {% endif %} value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                              </select>

                          </div>
                        </div>
                        <div class="form-group form-group-md bg-info">
                            <label class="col-md-offset-4 col-md-8 ">Proposed Insulation</label>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Insulation</label>
                          <div class="col-sm-3">
                              <select class="form-control col-sm-6" id="insulation" name="insulation">
                                {% for key, value in insulation_choices %}
                                    <option {% if key == '850' %} selected {% endif %} value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                              </select>

                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Insulation Thickness</label>
                          <div class="col-sm-3">
                              <select class="form-control col-sm-6" id="insulation_thickness" name="insulation_thickness">
                                {% for key, value in insulation_thickness_options %}
                                    <option {% if key == 0.5 %} selected {% endif %} value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                              </select>

                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Jacket Material</label>
                          <div class="col-sm-3">
                            <input class="form-control" type="text" id="jacket_material" name="jacket_material">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-sm-6 col-sm-offset-4">
                                <input type="button" value="Save" class="btn btn-default" ng-click="submit_details()">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
