<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/bootstrap.min.css" %}">
    <link rel="stylesheep" type="text/css" href="{% static "static_html/css/bootstrap-rtl.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin-rtl.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/morris.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/ges.css" %}">
    <script src="{% static "clients/js/jquery.js"%}"></script>
    <script src="{% static "clients/js/angular.js"%}"></script>
    <script src="{% static "clients/js/bootstrap.min.js"%}"></script>
    <script src="{% static "clients/js/ui-bootstrap.js"%}"></script>
    <script>
        var app_1 = angular.module("app_steam_leak", ['ui.bootstrap']);
        app_1.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);
        app_1.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');
        });
        app_1.controller("steamLeakModifyController", ['$scope','$http', function($scope,$http){
            $scope.steam_leak_json = {'id': {{steam_leak_obj.id}},
                                      'client': '',
                                      'steam_leak_number': '',
                                      'location_description': '',
                                      'pressure_in_psig': 100,
                                      'hours_of_operation': 8760,
                                      'boiler_efficiency': 80,
                                      'notes': '',
                                      'size_leak_in_inch': 0.5};
            $scope.submit_details = function(){
                $scope.steam_leak_json.client = '/api_client/clients/'+$("#client").val()+'/';
                $scope.steam_leak_json.steam_leak_number = $("#steam_leak_number").val();
                $scope.steam_leak_json.location_description = $("#location_description").val();
                $scope.steam_leak_json.pressure_in_psig = $("#pressure_in_psig").val();
                $scope.steam_leak_json.hours_of_operation = $("#hours_of_operation").val();
                $scope.steam_leak_json.boiler_efficiency = $("#boiler_efficiency").val();
                $scope.steam_leak_json.size_leak_in_inch = $("#size_leak_in_inch").val();
                $scope.steam_leak_json.notes = $("#notes").val();
                $http({method: 'PUT',
                       url: '/api_steam_leak/steam_leak/{{steam_leak_obj.id}}/',
                       data: $scope.steam_leak_json}).
                success(function(data){
                    window.location.href = '/steam_leak/';
                }).
                error(function(data){
                });
            }

            $scope.submit_delete = function(){
                $http({method: 'DELETE',
                       url: '/api_steam_leak/steam_leak/{{steam_leak_obj.id}}/'}).
                success(function(data){
                    window.location.href = '/steam_leak/';
                }).
                error(function(data){
                });
            }
        }]);
    </script>
</head>
<body ng-app="app_steam_leak">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            {% include "static_html/urls.html" %}
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Steam Leak Details
                    </h1>
                    <form class="form-horizontal" ng-controller="steamLeakModifyController" role="form">
                    {% csrf_token %}
                        <div class="container-fluid">
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Start Date</label>
                              <div class="col-sm-5">
                                <label class="col-sm-5 bg-success">{{ steam_leak_obj.start_date }}</label>
                              </div>
                              <div class="col-sm-3">
                                 <button type="button" class="btn btn-success btn-sm col-sm-4" data-toggle="modal" data-target="#add_steam_leak_notes">Notes</button>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Client</label>
                              <div class="col-sm-4">
                                  <select class="form-control col-sm-6" id="client" name="client">
                                    {% for client_id, client_name in clients_list %}
                                       <option {% if client_id == steam_leak_obj.client.id %} selected {% endif %} value="{{ client_id }}">{{ client_name }}</option>
                                    {% endfor %}
                                  </select>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Leak #</label>
                              <div class="col-sm-4">
                                <input class="form-control" type="text" id="steam_leak_number" name="steam_leak_number" value={{steam_leak_obj.steam_leak_number}}>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Location/Description</label>
                              <div class="col-sm-5">
                                <input class="form-control" type="text" id="location_description" name="location_description" value="{{steam_leak_obj.location_description}}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Pressure (psig)</label>
                              <div class="col-sm-4">
                                <select class="form-control col-sm-6" id="pressure_in_psig" name="pressure_in_psig">
                                    {% for pressure_in_psig_val  in pressure_in_psig_list %}
                                       <option {% if pressure_in_psig_val == steam_leak_obj.pressure_in_psig %} selected {% endif %} value="{{ pressure_in_psig_val }}">{{ pressure_in_psig_val }}</option>
                                    {% endfor %}
                                  </select>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Absolute Pressure (psia)</label>
                              <div class="col-sm-4">
                                <label class="col-sm-5 bg-success">{{ absolute_pressure_psia }}</label>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Size Leak (inch)</label>
                              <div class="col-sm-4">
                                  <input class="form-control" type="text" id="size_leak_in_inch" name="size_leak_in_inch" value="{{steam_leak_obj.size_leak_in_inch}}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Steam Loss (pph)</label>
                              <div class="col-sm-4">
                                <label class="col-sm-5 bg-success">{{ get_steam_loss_pph }}</label>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Boiler Efficiency %</label>
                              <div class="col-sm-3">
                                <input class="form-control" type="text" id="boiler_efficiency" name="boiler_efficiency" value="{{steam_leak_obj.boiler_efficiency}}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Steam Energy (Btu/lb)</label>
                              <div class="col-sm-4">
                                <label class="col-sm-5 bg-success">{${{ get_steam_energy_btu_per_lb }}|number $}</label>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Gas Usage (Therms/hour)</label>
                              <div class="col-sm-4">
                                <label class="col-sm-5 bg-success">{{ get_gas_usage_therms_per_hour }}</label>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Gas Rate ($/Therms)</label>
                              <div class="col-sm-4">
                                <label class="col-sm-5 bg-success">{$ {{ steam_leak_obj.client.gas_rate }} | currency:"$":3 $}</label>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Cost / Hour</label>
                              <div class="col-sm-4">
                                <label class="col-sm-5 bg-success">{{ get_cost_per_hour }}</label>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Hours of Operation</label>
                              <div class="col-sm-3">
                                <input class="form-control" type="text" id="hours_of_operation" name="hours_of_operation" value="{{steam_leak_obj.hours_of_operation}}">
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                              <label class="col-sm-4 control-label">Cost / Year</label>
                              <div class="col-sm-4">
                                <label class="col-sm-5 bg-success" type="number">{$ {{ get_cost_per_year }} | currency: "$":0 $}</label>
                              </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <div class="col-sm-6 control-label">
                                    <input type="button" value="Save" class="btn btn-default" ng-click="submit_details()">
                                    <input type="button" value="Delete" class="btn btn-default" ng-click="submit_delete()">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_steam_leak_notes" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Steam Leak Notes</h4>
                </div>
                <div class="container-fluid">
                    <div class="form-group">
                        <textarea class="form-control" rows="5" id="notes" name="notes">{{steam_leak_obj.notes}}</textarea>
                    </div>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
