<div class="navbar-header">
	<a class="navbar-brand" href="/">Home</a>
	<a class="navbar-brand" href="/client">Clients</a>
	<a class="navbar-brand" href="/steam_trap">Steam Trap</a>
	<a class="navbar-brand" href="/steam_leak">Steam Leak</a>
	<a class="navbar-brand" href="/boiler_blowdown">Boiler Blowdown</a>
	<a class="navbar-brand" href="/stacked_economizer">Stacked Economizer</a>
	<a class="navbar-brand" href="/premium_efficiency">Premium Efficiency</a>
	<a class="navbar-brand" href="/air_compressors">Air Compressor</a>
	<!-- <a class="navbar-brand" href="http://54.215.185.254:8000/vfd_app">VFD App</a>
	<a class="navbar-brand" href="http://54.215.185.254:8000/chiller_app">Chiller App</a> -->

</div>
<div class="pull-right">
	<span class="navbar-brand">{{ username }}</span>
	<a class="navbar-brand" href="/logout">Logout</a>
</div>
