<div class="navbar-header">
	<a class="navbar-brand" href="/">Home</a>
	<a class="navbar-brand" href="/client">Clients</a>
	<a class="navbar-brand" href="/steam_trap">Steam Trap</a>
	<a class="navbar-brand" href="/steam_leak">Steam Leak</a>
	<a class="navbar-brand" href="http://54.215.247.84:8080/vfd_app">VFD App</a>
	<a class="navbar-brand" href="http://54.215.247.84:8080//premium_efficiency_app">Premium Efficiency App</a>
	<a class="navbar-brand" href="http://54.215.247.84:8080//chiller_app">Chiller App</a>

</div>
<div class="pull-right">
	<span class="navbar-brand">{{ username }}</span>
	<a class="navbar-brand" href="/logout">Logout</a>
</div>
