<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/bootstrap.min.css" %}">
    <link rel="stylesheep" type="text/css" href="{% static "static_html/css/bootstrap-rtl.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/sb-admin-rtl.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/morris.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/print.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "static_html/css/ges.css" %}">

    <script src="{% static "clients/js/jquery.js"%}"></script>
    <!-- <script src="{% static "clients/js/jquery.cookie.js"%}"></script> -->
    <script src="{% static "clients/js/angular.js"%}"></script>
    <script src="{% static "clients/js/bootstrap.min.js"%}"></script>
    <script src="{% static "clients/js/ui-bootstrap.js"%}"></script>
    <script>
        var app_1 = angular.module("app_vfd", ['ui.bootstrap']);
        app_1.config(['$httpProvider', function($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);
        app_1.controller("vfdMotorListController", ['$scope','$http', function($scope,$http){
            $http({method: 'GET', url: "/api_vfd/vfd_motor/"}).
                 success(function(data){
                     $scope.vfd_list = data;
            }).error(function(data){});
            $scope.clients_filter = "all";
            $scope.filter_clients = function (clients_filter){
                var url_str = "/api_vfd/vfd_motor/";
                var client_filter_str = "";
                if ($scope.clients_filter != "all"){
                    client_filter_str = "?client=".concat($scope.clients_filter);
                };
                $http({method: 'GET', url: url_str.concat(client_filter_str)}).
                     success(function(data){
                         $scope.vfd_list = data;
                }).error(function(data){});
            };
        }]);
        app_1.controller("vfdMotorAddController", ['$scope',
                                                    '$http',
                                                    function($scope, $http){
            $scope.vfd_json = {'client': '',
                               'vfd_name': '',
                               'motor_horse_pwr': 0,
                               'existing_motor_efficiency': 0,
                               'proposed_vfd_efficiency': 0,
                               'motor_load': 0};
            $scope.submit_details = function(){
                $scope.vfd_json.client = '/api_client/clients/'+$("#client").val()+'/';
                $scope.vfd_json.vfd_name = $("#vfd_name").val();
                $scope.vfd_json.motor_horse_pwr = $("#motor_horse_pwr").val();
                $scope.vfd_json.existing_motor_efficiency = $("#existing_motor_efficiency").val();
                $scope.vfd_json.proposed_vfd_efficiency = $("#proposed_vfd_efficiency").val();
                $scope.vfd_json.motor_load = $("#motor_load").val();
                $http({method: 'POST',
                       url: '/api_vfd/vfd_motor/',
                       data: $scope.vfd_json}).
                success(function(data){
                    window.location.reload();
                }).
                error(function(data){
                });
                $('#add_new_vfd').modal('hide');
            }
        }]);
    </script>
</head>
<body ng-app="app_vfd">
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            {% include "static_html/urls.html" %}
        </nav>
    </div>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                         VFD Motor List
                    </h1>
                    <div ng-controller="vfdMotorListController">
                        <div class="container-fluid form-horizontal">
                            <div class="form-group form-group-sm">
                                <label class="col-sm-2 control-label">Client Filter</label>
                                <div class="col-sm-2">
                                    <select class="form-control col-sm-3" ng-model="clients_filter" id="clients_filter" name="clients_filter" ng-change="filter_clients(clients_filter)">
                                        {% for filter_id, filter_name in clients_filter %}
                                            <option value="{{ filter_id }}">{{ filter_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                 <div class="col-sm-6">
                                    <button type="button" class="btn btn-success btn-sm col-sm-4" data-toggle="modal" data-target="#add_new_vfd">+ VFD Motor</button>
                                </div>
                            </div>
                            <table class="table table-striped">
                                <tr>
                                    <th>VFD</th>
                                    <th>Motor (HP)</th>
                                    <th>Existing Motor efficiency (%)</th>
                                    <th>Proposed Motor efficiency (%)</th>
                                    <th>Motor Load (%)</th>
                                </tr>
                                {% verbatim %}
                                    <tr ng-repeat="x in vfd_list">
                                        <td><a href="/vfd_details/{{ x.id }}">{{ x.vfd_name }}</a></td>
                                        <td>{{ x.motor_horse_pwr }}</td>
                                        <td>{{ x.existing_motor_efficiency }}</td>
                                        <td>{{ x.proposed_vfd_efficiency }}</td>
                                        <td>{{ x.motor_load }}</td>
                                    </tr>
                                {% endverbatim %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_new_vfd" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New VFD Motor</h4>
                </div>
                <form class="form-horizontal" ng-controller="vfdMotorAddController" role="form">
                {% csrf_token %}
                    <div class="container-fluid">
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Client</label>
                          <div class="col-sm-6">
                              <select class="form-control col-sm-6" id="client" name="client">
                                {% for client_id, client_name in clients_list %}
                                    <option {% if client_id == 1 %} selected {% endif %} value="{{ client_id }}">{{ client_name }}</option>
                                {% endfor %}
                              </select>
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">VFD Motor Name</label>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="vfd_name" name="vfd_name">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Motor (HP)</label>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="motor_horse_pwr" name="motor_horse_pwr">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Existing Motor Efficiency (%)</label>
                          <div class="col-sm-6">
                            <input class="form-control" type="text" id="existing_motor_efficiency" name="existing_motor_efficiency">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Proposed Motor Efficiency (%)</label>
                          <div class="col-sm-6">
                            <input class="form-control control-label" type="text" id="proposed_vfd_efficiency" name="proposed_vfd_efficiency">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                          <label class="col-sm-3 control-label">Motor Load (%)</label>
                          <div class="col-sm-3">
                            <input class="form-control" type="text" id="motor_load" name="motor_load">
                          </div>
                        </div>
                        <div class="form-group form-group-sm">
                            <div class="col-sm-6 col-sm-offset-4">
                                <input type="button" value="Save" class="btn btn-default" ng-click="submit_details()">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
